@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

*, *:before, *:after{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html, body{
    background-color: rgb(236, 240, 241);
    height:100%;
    width:100%;
}

body{
    font-family: "lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-attachment:fixed;
}


#nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #1C2837;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    a {
        text-decoration: none;
    }
    .navbar {
        position: relative;
        @include transform(translateY(-50%));
        @include transition(1s);
        height: 100%;
        a, ul, ul li {
            display: inline-block;
        }
        .nav {
            @include transform(-50%);
            left: 50%;
            li {
                margin: 0 20px;
                margin-top: 40px;
                a,a:link,a:active,a:visited,a:focus {
                    background-color: rgba(0, 0, 0, 0);
                    color: white;
                }
            }
        }
    }
}

.container {
    padding-top: 60px;
    width: 60%;
    .heading{
        h1 {
            font-size: 3em;
        }
        p {
            font-size: 1.5em;
        }
    }
    h2 {
        font-size: 2.5em;
    }

    ul.category{
        margin-top:20px;
        > li.project{
            background-color: white;
            border: 1px #aaa solid;
            display: block;
            list-style: none;
            margin-bottom: 40px;
            @include transition(.2s);
            &:hover {
                box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
            }

            div {
                overflow: hidden;
                .head {
                    overflow: hidden;
                    h3 {
                        float:left;
                        margin-left: 30px;
                        margin-top:10px;
                        font-size: 1.5em;
                    }
                    ul.links {
                        float:right;
                        margin-right: 30px;
                        margin-top: 10px;
                        li {
                            list-style: none;
                            display: inline-block;
                            margin-left: 10px;
                            font-size: 1.5em;
                        }
                    }
                }
                img {
                    height: 20em;
                    float: left;
                    margin-left: 30px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }

                .body {
                    margin-top: 10px;
                    padding-left: 40px;
                    margin-right: 10px;
                    margin-bottom: 20px;
                    p, a, h4 {
                        font-size: 1.2em;
                        line-height: 1.7em;
                    }
                    li{
                        list-style-position:inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
